* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0.25rem;
    font-family: Poppins;
}

body {
    background-image: linear-gradient(90deg, #12b886 5%, #4dabf7 95%);
    padding: 2rem;
    font-size: medium;
    font-weight: 300;
}

input,
button {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

p {
    padding: .5rem;
    font-weight: 600;
}